<div role="listitem" class="listitem">
    <div class="date">
        <div class="duedate">{{formatRelative dueDate unit="days"}}</div>
        <div data-id="{{id}}" class="status {{#if finished}}finished{{else}}pending{{/if}}">
            <span class="status-icon"></span><span class="status-text">Finished {{#if finished}}at {{formatDate finishedDate day="2-digit" month="2-digit" year="numeric"}}{{/if}}</span>
        </div>
    </div>
    <div class="todo">
        <div class="title">{{title}}
            {{#times priority}}
            <span class="icon"></span>
            {{/times}}
        </div>
        <div class="desc">
            {{truncate description 70}}
        </div>
    </div>
    <div class="actions">
    {{#unless  finished}}
        <button class="edit-todo" data-id="{{id}}"><span></span></button>
    {{/unless}}
        <button class="delete-todo" data-id="{{id}}"><span></span></button>
    </div>
</div>