<div role="listitem" class="listitem">
    <div class="date">
        <div class="duedate">Created {{formatDate createDate day="2-digit" month="2-digit" year="numeric"}}</div>
        <div class="status {{#if finished}}finished{{else}}pending{{/if}}">
            <span class="status-icon"></span><span
                class="status-text">Finished</span>
            <span class="finished">{{formatDate dueDate day="2-digit" month="2-digit" year="numeric"}}</span>
        </div>
    </div>
    <div class="todo">
        <div class="title">{{title}}
            {{#times priority}}
            <span class="ion-ios-bolt"></span>
            {{/times}}
        </div>
        <div class="desc">{{description}}</div>
    </div>
    <div class="actions">
        <button>Edit</button>
    </div>
</div>